@model ForgetPasswordViewModel
@{
	Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

<div class="container">
	<br><br>
	<h1>Şifre Yenileme Sayfası</h1>
	<form method="post">
		<label>Mail Adresinizi Giriniz</label>
		<input type="text" class="form-control" asp-for="Mail">
		<br>
		<button class="btn btn-primary">Şifre Yenileme Linki Gönder</button>
	</form>
</div>
@* admin1@gmail.com *@